.error {
  /* bottom: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-text-color);
  color: var(--bg-color);
}

.button {
  padding: 2rem;
  background-color: var(--main-text-color);
  color: var(--bg-color);
  font-size: 2rem;
  cursor: pointer;
}
