.paginationBttns {
  list-style: none;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 0 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--main-text-color);
}

.paginationBttns a,
.previousBttn a,
.nextBttn a {
  padding: .6rem 1rem;
  max-width: 160px;
  background-color: transparent;
  border-radius: 4px;
  text-decoration: none;
  margin: 0 6px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: var(--main-text-color);
  font-size: 1rem;
}

.paginationActive a,
.paginationBttns a:hover {
  color: var(--main-text-color);
  background-color: var(--light-grey-color);
}

.paginationDisabled a {
  opacity: 0;
  color: var(--light-grey-color);
  background-color: var(--light-grey-color);
}
